*{
    box-sizing:border-box;
}

.col{
    margin-top: 50px;
}

.imagen{
    margin: 30px 0px 0px 0px;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.imagen:hover {
    filter: grayscale(80%);
    border-radius: 15px;
    cursor:zoom-in;
}

.inicio{
    border-radius: 25px;
    background-color: black;
    color:white;
    padding: 10px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.hoy{
    color: black;
    padding: 10px;
    text-decoration: none;
}

.search{
    border-radius: 25px;
    background-color: #e1e1e1;
    border: 0px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon{
    margin-top: 10px;
}

notbg-light{
    background-color: white;
}

nav{
    background-color: white;
}

.iconimg{
    border-radius: 50%;
}

label{
    font-size: x-small;
    margin-left: 15px;
}

.mycard-text2{
    font-size:12px;
    color: slategray;
    line-height: 2px;
}
.mycard-text{
    line-height: 6px;
}

#usuario{
    border: 0px solid;
    height: 80px;
}

.dropdown-item{
    font-size: 14px;
}
